rect.wood {
    fill: #DCB35C;
}

path.grid {
    stroke-width: 0.8;
    stroke: #000;
}

.whiteStone circle {
    fill: url(#whiteGradient);
}

.blackStone circle {
    fill: url(#blackGradient);
}

.label {
    text-anchor: middle;
    font-family: Arial, sans-serif;
}

.label1 {
    font-size: 13px;
}

.label2 {
    font-size: 10px;
}

.label3 {
    font-size: 9px;
}

.whiteStone text {
    fill: black;
}

.blackStone text {
    fill: white;
}
